<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="apple">
    <h1 v-bind:title="menu">{{tittle}}</h1>
    <h1 v-if="hidden">{{tittle}}</h1>
    <ul>
        <li v-for="item in items">
            {{item.text}}
            <div v-if="item.checked">item checked</div>
            <button @click="item.checked = ! item.checked">toggle</button>
        </li>
    </ul>
    <input v-model="item">
    <button @click="items.push(item)">add item</button>

    <input v-model="price">
    <div> tax {{moneyFormat(tax)}}</div>
    <div> total {{moneyFormat(total)}}</div>

</div>
<script>
    new Vue(
        {
            el: '#apple',
            data:{
                tittle: 'just a title',
                item: ' ',
                items: [
                    {text: 'item1', checked: true},
                    {text: 'item2', checked: true},
                    {text: 'item3', checked: false},
                    {text: 'item4', checked: false},
                ],
                menu: 'see you through',
                hidden: false,
                price: 100,
            },

            methods:{

                moneyFormat: function (price) {

                    return '$' + price + '.00';
                }
            },

            computed:{
                tax: function () {
                    return this.price *0.2
                },
                total: function () {
                    return parseInt(this.price) + this.tax
                }

            }
        }
    )
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>