<template>
    <div class="container">
        <div>
        <button :type="type" class="my-button" v-text="test.name"> </button>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
            axios.post('api/vue',{}).then(response =>{
                this.test = response.data;
            })
        },

        data: function(){
          return {
              test: null
          }
        },
        props:[
            'text',
            'type'
        ]


    }
</script>
 <style>
     .my-button{
         background-color: #1b1e21;
     }
 </style>